.register-container
{
  display: flex;
  width: 500px;
  margin-top: 10px;
  flex-direction: column;
  background-color: #050E3C;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  place-self: center;
}

.username-input
{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
}

.password-input
{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
}

.register-button
{
  width: 100%;
  height: 40px;
}